[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pymongo = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
bcrypt = "==3.2.2"
python-jose = {extras = ["cryptography"], version = "*"}
python-dotenv = "*"
pyotp = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-cov = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.12"
